@* Hannah Gouff *@
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <img src="~/img/music.jpeg" style="width: 1300px; height: 350px;"/>
    @* headers *@
    <h1 class="display-4">Welcome</h1>
    <br/>
    <h3 class="display-6" style="font-size: 1.8rem;">Learn about my violin journey!</h3>
    <br/>
    @* paragraphs about my hobby with 2 images *@
    <p class="lead">

        My journey with the violin began when I was just four years old, living in China with my family. Learning to play at such a young age was challenging, especially because my teacher only spoke Chinese, and I struggled to understand him. Despite the language barrier, I continued practicing and striving to improve.
        I didn't realize at the time the impact that violin would have in my life.
        <img src="~/img/babyViolin.jpg" class="img-fluid rounded shadow float-start ms-3" style="width: 200px; height: 250px;" alt="Kindergarten Violin Performance">
    </p>

    <p class="lead">
        One of my earliest memories of performing was in kindergarten when I played for my class. I was unaware at the time, but my classmates all plugged their ears while I played.
        Even so, I felt very proud of myself. That moment, despite their reaction, made me love performing and motivated me to keep improving.
    </p>

    <p class="lead">
        As the years went on, my passion for the violin grew. I dedicated countless hours to lessons and practice, entered competitions, and performed in multiple orchestras. Each new piece presented a challenge, but I loved the process of mastering a song.
        <img src="~/img/ViolinBeReal.JPG" class="img-fluid rounded shadow float-end ms-3" style="width: 250px; height: 250px;" alt="Grown up Hannah in BYU Symphony Orchestra">
        The violin became more than just an instrument to me—it became a source of peace and a way to connect with others. Through music, I found joy in storytelling and self-expression, and I discovered how powerful music can be in bringing people together.
        
    </p>

    <p class="lead">
        One of my most cherished experiences was becoming a violinist in the BYU Symphony Orchestra. There, I made lifelong friends, deepened my appreciation for music, and had the privilege of performing for others.
        Playing the violin has shaped who I am, and it’s something I always want to keep in my life. Whether through solo practice, orchestral performances, or sharing music with loved ones, the violin continues to be a meaningful and fulfilling part of my journey.
    </p>
    <br/><br/><br/><br/><br/><br/><br/>

</div>
